In [1]:
# set 
# set constructor is set()
# set literal doesnot exist
# set always allowed immutable datatype.
# set is unordered set of sequence of elements.
# set does not allowed duplicacy and work on hashing table concept to remove duplicacy.
# set does not support indexing 
# set does not support slicing 
# set is mutable
# set doesnot support nested set
# set does not support concatination.

In [2]:
a=set()

In [3]:
print(a)

set()

In [6]:
a=10 # int
b=10.2 # float
c="krishna" # string
d=["krishna","Mohan"] # list
e=("krishna","Mohan") # typle
f={"krishna","Mohan"} # set

In [7]:
j={1,1,1,1,2,2,3,4,4,5,5,5,3,2,2,4,5,76,78,9,9,5,4,4}

In [8]:
print(j)

{1, 2, 3, 4, 5, 9, 76, 78}

In [9]:
print(id(j),j)

2189996263232 {1, 2, 3, 4, 5, 9, 76, 78}

In [10]:
j.add("krishna")

In [11]:
print(j)

{1, 2, 3, 4, 5, 9, 76, 78, 'krishna'}

In [12]:
print(id(j))

2189996263232

In [13]:
a=10 # int
b=10.2 # float
c="krishna" # string
d=["krishna","Mohan"] # list
e=("krishna","Mohan") # typle
f={"krishna","Mohan"} # set

In [15]:
a={10}        #immutable datatype
print(a,type(a))

{10} <class 'set'>

In [17]:
b={10.2}
print(b,type(b))

{10.2} <class 'set'>

In [18]:
c={"krishna"}  #string is immutable
print(c,type(c))

{'krishna'} <class 'set'>

In [19]:
d={[1,2,3,4,5]}

TypeError: unhashable type: 'list'

In [20]:
e={{1,2,3,4}}

TypeError: unhashable type: 'set'

In [21]:
f={(1,2,3,4)}

In [23]:
print(f)

{(1, 2, 3, 4)}

In [24]:
g={(1,2,3,[1,2,3])}

TypeError: unhashable type: 'list'

In [25]:
a="krishna"
b="kumar"
print(a+b)

krishnakumar

In [26]:
c=[1,2,3]
d=[4,5,6]
print(c+d)

[1, 2, 3, 4, 5, 6]

In [27]:
e=(1,2,3)
f=(4,5,6,7)
print(e+f)

(1, 2, 3, 4, 5, 6, 7)

In [28]:
g={1,2,3}
h={4,5,6}
print(g+h)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [30]:
a="krishna"
b="kumar"
print(a-b)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [32]:
c=[1,2,3]
d=[4,5,6]
print(c-d)

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [34]:
e=(1,2,3)
f=(4,5,6,7)
print(e-f)

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [37]:
g={1,2,3,6}
h={4,5,6}
print(g-h)

{1, 2, 3}

In [38]:
g={1,2,3,6}
h={4,5,6}
print(h-g)

{4, 5}

In [39]:
a={1,2,3,4,5}
b={3,4,5,6,7}

In [40]:
a.add(10)

In [41]:
print(a)

{1, 2, 3, 4, 5, 10}

In [44]:
a.add((1,))

In [45]:
print(a)

{1, 2, 3, 4, 5, (1,), 10, (1, 2, 3)}

In [46]:
print(b)

{3, 4, 5, 6, 7}

In [47]:
a.clear()

In [48]:
print(a)

set()

In [49]:
a.update((1,2,3,4,5,6))

In [50]:
print(a)

{1, 2, 3, 4, 5, 6}

In [51]:
a.update(10)

TypeError: 'int' object is not iterable

In [52]:
a.update({11,22,33})

In [53]:
print(a)

{1, 2, 3, 4, 5, 6, 33, 11, 22}

In [54]:
print(b)

{3, 4, 5, 6, 7}

In [55]:
print(a-b)

{1, 2, 33, 11, 22}

In [56]:
a.difference(b)

{1, 2, 11, 22, 33}

In [57]:
print(a)

{1, 2, 3, 4, 5, 6, 33, 11, 22}

In [58]:
print(b)

{3, 4, 5, 6, 7}

In [59]:
a.difference_update(b)

In [60]:
print(a)

{1, 2, 33, 11, 22}

In [61]:
print(b)

{3, 4, 5, 6, 7}

In [62]:
a.discard(1)

In [63]:
print(a)

{2, 33, 11, 22}

In [64]:
a={1,2,3,4}
b={3,4,5,6}
b.difference_update(a)

In [65]:
print(b)

{5, 6}

In [68]:
A={1,2,3,4}
B={3,4,5,6}
C={1,2,3}

In [69]:
A.intersection(B,C)

{3}

In [73]:
A.intersection_update(B,C)

In [74]:
print(A)

{3}

In [75]:
C

{1, 2, 3}

In [76]:
B

{3, 4, 5, 6}

In [77]:
A={1,2,3}
B={3,4,5}

In [78]:
A.isdisjoint(B)

False

In [79]:
A={1,2,3,4,5,6,7,8}
B={6,7,8}

In [80]:
A.issuperset(B)

True

In [81]:
B.issuperset(A)

False

In [82]:
A

{1, 2, 3, 4, 5, 6, 7, 8}

In [83]:
B

{6, 7, 8}

In [84]:
B.issubset(A)

True

In [85]:
A.pop()

1

In [86]:
A

{2, 3, 4, 5, 6, 7, 8}

In [87]:
A.pop()

2

In [88]:
A

{3, 4, 5, 6, 7, 8}

In [89]:
A.remove(8)

In [90]:
A

{3, 4, 5, 6, 7}

In [92]:
B

{6, 7, 8}

In [93]:
A.difference(B)

{3, 4, 5}

In [94]:
A.symmetric_difference(B)

{3, 4, 5, 8}

In [95]:
A

{3, 4, 5, 6, 7}

In [96]:
A.symmetric_difference_update(B)

In [97]:
A

{3, 4, 5, 8}

In [98]:
B

{6, 7, 8}

In [99]:
A.union(B)

{3, 4, 5, 6, 7, 8}