In [30]:
a=10  # integer
b=10.0  #float
c="10.0"  #string

In [31]:
#string
# string constructor is str()
# string literal is '',"","""""",''''''
# string support indexing
# string support slicing 
# string support concatination 
# string is immutable(hashable)

In [32]:
print("\u0915")

à¤•

In [33]:
a=str()  # this constructor of string

In [34]:
print(a)

In [35]:
b=''  # literal of string to create empty string datatype

In [36]:
print(b,type(b))

 <class 'str'>

In [37]:
c=""
print(type(c))

<class 'str'>

In [38]:
d=""""""
print(d,type(d))

 <class 'str'>

In [39]:
e="krishna"
f="kumar"

In [40]:
print(e)

krishna

In [41]:
print(f)

kumar

In [42]:
print(e+f)

krishnakumar

In [43]:
print(10+20)

30

In [44]:
print(10,20)

10 20

In [45]:
print(10,20,"krishna")

10 20 krishna

In [46]:
print(10,20,"krishna",sep=" ")

10 20 krishna

In [47]:
print(10,20,"krishna",sep="&");print(10,20,"krishna",sep="$");

10&20&krishna
10$20$krishna

In [48]:
print(10,20,"krishna",10,20,"krishna",sep="$");

10$20$krishna$10$20$krishna

In [49]:
print(10,20,"krishna",sep="&",end="\n");print(10,20,"krishna",sep="$");

10&20&krishna
10$20$krishna

In [50]:
print(10,20,"krishna",sep="&",end=" India ");print(10,20,"krishna",sep="$");

10&20&krishna India 10$20$krishna

In [51]:
print(10,20,"krishna",sep="Krishna\n",end="\n")

10Krishna
20Krishna
krishna

In [52]:
print(10,20,"krishna","\n","\n",end="\n")
print("this is python ")

10 20 krishna


this is python

In [53]:
print("this is \navin")

this is
avin

In [54]:
print("this is \\navin")

this is \navin

In [55]:
print(r"this is \navin")

this is \navin

In [56]:
print("C:\\Users\Ducat")

C:\Users\Ducat

In [57]:
print(r"C:\Users\Ducat")

C:\Users\Ducat

In [58]:
print("this is krishna's "laptop"")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3315837817.py, line 1)

In [ ]:
print('this is krishna\'s "laptop"')

this is krishna's "laptop"

In [ ]:
print("this is krishna's \"laptop\"")

this is krishna's "laptop"

In [ ]:
a="ROHAN"

In [ ]:
print(a[2])

H

In [ ]:
print(a[-1])

N

In [ ]:
print(a[4])

N

In [ ]:
a[1:3:1]

'OH'

In [59]:
a[3242342:342342342:4234234]

''

In [60]:
a[1:4]

''

In [61]:
a[1:5]

''

In [62]:
a[1:50900000000000000000000000000000000000000000]

''

In [63]:
b="0123456789"

In [64]:
b[0:9:1]

'012345678'

In [65]:
b[0:9:2]

'02468'

In [66]:
b[1:10:2]

'13579'

In [67]:
a=123456789

In [68]:
c=str(a)

In [69]:
c

'123456789'

In [70]:
c[0:9:2]

'13579'

In [83]:
c="krishna"

In [85]:
print(c[0:5:1])

krish

In [87]:
print(c[:5:1])

krish

In [88]:
print(c[:5:])

krish

In [89]:
print(c[:5])

krish

In [90]:
print(c)

krishna

In [91]:
print(c[0:7:1]) # variable[start index:last index+1:stepping(bydefault 1)]

krishna

In [92]:
print(c[:7:1])

krishna

In [93]:
print(c[::1])

krishna

In [94]:
print(c[::])

krishna

In [95]:
print(c[:])

krishna

In [97]:
c[-1:-8:-1]

'anhsirk'

In [98]:
c[6:-8:-1]

'anhsirk'

In [99]:
c[:-8:-1]

'anhsirk'

In [100]:
c[::-1]

'anhsirk'

In [107]:
a="krishna"
print(id(a))

1985132720624

In [103]:
print(type(a))

<class 'str'>

In [108]:
print(a.capitalize())

Krishna

In [109]:
b=a.capitalize()

In [110]:
print(b)

Krishna

In [111]:
print(id(b))

1985132816432

In [112]:
print(a)

krishna

In [113]:
print(b)

Krishna

In [117]:
a="NnkrIshna714@gmail.com"

In [118]:
a.casefold()

'nnkrishna714@gmail.com'

In [121]:
b="       NnkrIshna714@gmail.com       "

In [128]:
c=b.strip()

In [126]:
b

'       NnkrIshna714@gmail.com       '

In [133]:
c=b.strip().casefold()
c

'nnkrishna714@gmail.com'

In [134]:
b

'       NnkrIshna714@gmail.com       '

In [137]:
c.upper()
print(type(c))

<class 'str'>

In [136]:
print(c)

nnkrishna714@gmail.com

In [143]:
c.find("gl")

-1

In [144]:
c.index("n")

0

In [145]:
c.index("nn")

0

In [146]:
d="KRISHNA"

In [147]:
d.lower()

'krishna'

In [148]:
d

'KRISHNA'

In [149]:
d.casefold()

'krishna'