In [1]:
#tuple 
# tuple constructor is tuple()
# tuple literal is ()
# tuple is a set of sequence of elements 
# tuple is faster then list
# tuple is immutable(hashable)
# tuple support indexing 
# tuple support slicing and concatination 
# tuple support packing and unpacking
# tuple support nested tuple 
# tuple methods are index and count.

In [2]:
a=tuple()    # creating tuple using tuple() or constructor

In [3]:
print(a)
print(type(a))

()
<class 'tuple'>

In [4]:
b=()     #creating empty tuple using tuple literal
print(b)
print(type(b))

()
<class 'tuple'>

In [10]:
c=(1,10.09,"Krishna",[1,2,3],(1,2,3,4))
print(id(c))

2568229264880

In [6]:
print(c)

(1, 10.09, 'Krishna', [1, 2, 3], (1, 2, 3, 4))

In [7]:
b=("Rohan","Sonu")

In [12]:
c=c+b
print(c)
print(id(c))

(1, 10.09, 'Krishna', [1, 2, 3], (1, 2, 3, 4), 'Rohan', 'Sonu')
2568229229792

In [13]:
print(c)

(1, 10.09, 'Krishna', [1, 2, 3], (1, 2, 3, 4), 'Rohan', 'Sonu')

In [14]:
print(c[3])

[1, 2, 3]

In [17]:
print(c[-4])

[1, 2, 3]

In [19]:
d=c[-4]

In [21]:
print(d)

[1, 2, 3]
<class 'list'>

In [23]:
print(c[-4][1])

2

In [24]:
print(c[-4])

[1, 2, 3]

In [25]:
e=c[-4][1]
print(e)

2

In [26]:
c

(1, 10.09, 'Krishna', [1, 2, 3], (1, 2, 3, 4), 'Rohan', 'Sonu')

In [30]:
c=[4]

In [31]:
print(c)

[4]

In [32]:
d=(1, 10.09, 'Krishna', [1, 2, 3], (1, 2, 3, 4), 'Rohan', 'Sonu')

In [33]:
print(d)

(1, 10.09, 'Krishna', [1, 2, 3], (1, 2, 3, 4), 'Rohan', 'Sonu')

In [34]:
print(d[2:6])

('Krishna', [1, 2, 3], (1, 2, 3, 4), 'Rohan')

In [40]:
e=d[2]
print(e)

Krishna

In [38]:
print(type(e))

<class 'str'>

In [39]:
print(d[2:3:1])

('Krishna',)

In [41]:
a=()

In [42]:
b=tuple()

In [45]:
c=(1,)
print(c,type(c))

(1,) <class 'tuple'>

In [46]:
a=1,2,3,4,5   # packing

In [47]:
print(a)

(1, 2, 3, 4, 5)

In [52]:
c,d,e,f,g=a     #unpacking

In [53]:
print(c)

1

In [50]:
print(d)

2

In [51]:
print(e)

3

In [56]:
c,d,f,g=(1, 2, 3, 4, 5)

ValueError: too many values to unpack (expected 4)

In [55]:
print(h)

krishna

In [57]:
c,d,f,*g=(1, 2, 3, 4, 5)

In [58]:
print(g)

[4, 5]

In [59]:
c,d,*f,g=(1, 2, 3, 4, 5)

In [60]:
print(f)

[3, 4]

In [61]:
print(g)

5

In [62]:
*c,g=(1, 2, 3, 4, 5)

In [66]:
g=("krishna","Mohan","Raju",1,3,"krishna")

In [67]:
print(g)

('krishna', 'Mohan', 'Raju', 1, 3, 'krishna')

In [69]:
print(g.count("krishna"))

2

In [70]:
g.index("Raju")

2

In [71]:
a=(2e10,)

In [72]:
print(a)

(20000000000.0,)

In [73]:
2e10

20000000000.0

In [74]:
2*10.0**10

20000000000.0

In [79]:
a=([1,2,3,4],2)
print(id(a))

2568235903104

In [81]:
b=a[0].append(10)
print(id(b))

140720962628808

In [78]:
print(a)

([1, 2, 3, 4, 10], 2)

In [82]:
a=[]
a.extend("krishna")
print(a)

['k', 'r', 'i', 's', 'h', 'n', 'a']

In [83]:
a.pop(2)

'i'

In [84]:
print(a)

['k', 'r', 's', 'h', 'n', 'a']

In [85]:
a.pop()

'a'

In [86]:
print(a)

['k', 'r', 's', 'h', 'n']